.app.dark {
  --bg-color: #2C82C9;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #22d3b0;
  --secondary-color: #16ce9d;

  --inverted-primary-color: #0b4f9f;
  --inverted-secondary-color: #00587A;
}