.app.dark {
  --bg-color: #2C82C9;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #ffffff;
  --secondary-color: #16ce9d;

  --inverted-primary-color: #ce4412;
  --inverted-secondary-color: #00587A;
}