.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #2C82C9;

  --primary-color: #ce4412;
  --secondary-color: #0b4f9f;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #4CD4B0;
}