.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #2C82C9;

  --primary-color: #123c6e;
  --secondary-color: #0b4f9f;
  --inverted-primary-color: #22d3b0;
  --inverted-secondary-color: #4CD4B0;
}